*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* VARIABLES */
:root {
  --primary-color: #24306e;

  --light-color: #fff;
  --dark-color: #616161;
  --darker-color: #404040;
  --icon-fill: #24306eb2;
  --dark-neutral-color: #d9d9d9;
  --light-neutral-col0r: #e2ebeb;
  --primary-ff: "Poppins", sans-serif;
}

/* ................................................. */

html {
  font-family: var(--primary-ff);
  /* color: var(--light-color); */
}

header {
  height: 100vh;
  background-color: var(--light-color);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1 {
  font-size: 3.02819rem;
  font-style: normal;
  font-weight: 600;
  line-height: 109%;
}
h3 {
  font-size: 2.98581rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
p {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* UTILITIES */
.container {
  width: 90%;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  align-self: flex-start;
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 30px;
  margin: 2em 0;
  padding: 1em 2em;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.5, 3, 0, 1);
}
.btn:hover {
  background: transparent;
  color: var(--dark-neutral-color);
  transform: rotatex(20deg) rotateY(20deg);
}

.p-color-text {
  color: var(--primary-color);
}

/* /////////////
     Navbar
/////////////// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

/* .container {
  
  width: 90%;
  margin: auto;
} */

.navbar {
  /* box-shadow: 0px 5px 10px 0px #aaa; */
  position: sticky;
  top: 0;
  width: 100%;
  background: transparent;
  color: var(--dark-color);
  opacity: 0.85;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: baseline;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.menu-nav-items {
  display: flex;
}
.logo {
  font-size: 2.3rem;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.navbar a {
  color: var(--light-color);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .auth a {
  padding: 0.3em 1.3em 0.3em 1.3em;
  margin-left: 1em;
  border: 2px solid var(--light-color);
  border-radius: 10px;
  background-color: transparent;
  color: var(--light-color);
}

.navbar .auth a:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: 2px solid transparent;
}

/* //////////
   HEADER
///////////// */
header {
  min-height: 100%;
  background: url(../images/header.svg) center center rgba(36, 35, 36, 0.589);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  color: var(--light-color);
  position: relative;
}

.header {
  padding-top: 7em;
  height: 80%;
}

.header .head-text h1 {
  color: var(--light-color);
  margin-bottom: 0.7em;
}
.header .head-text h1 span {
  color: var(--primary-color);
  display: flex;
}

.header .head-text p {
  align-self: flex-start;
  /* padding-right: 3em; */
}

.header .flow {
  background-color: var(--light-color);
  width: 85%;
  height: 4em;
  border-radius: 20px;
  position: absolute;
  bottom: -30px;
}

/* ///////////////
SECTION: OTHER
////////////*/

#others {
  text-align: center;
  margin: 3.5em auto;
  display: flex;
  flex-direction: column;
  gap: 6em;
}

#others .info {
  display: flex;

  gap: 1em;
}

.info .image {
  width: 100%;
}
.info .image img {
  width: 100%;
}
.info .info-text {
  padding: 1.3em;
  color: var(--darker-color);
}
.info .info-text p {
  margin: 2em;
}

/* FOOTER */
footer {
  background-color: var(--primary-color);
  color: var(--light-color);
}

footer a.btn {
  background-color: var(--light-color);
  color: var(--darker-color);
}

footer .foot-intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px dotted var(--light-color);
  margin: 1em auto;
}

.foot-intro p {
  font-size: 1.3rem;
}

footer .foot-info {
  display: flex;
  justify-content: space-around;
}

footer .foot-info ul li {
  text-align: center;
  margin: 0.7em auto;
}

footer .foot-info .socials .social-icons {
  display: flex;
  gap: 1.5em;
}
